body{
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
}
.border{
    z-index: -15;
    position: absolute;
    top: 9px;
    background-color: #020461;
    left: 420px;
    width: 263px;
    height: 340px;
    border: 2px solid #05050c;
}
button {
    border: none;
    border-radius: 10px;
    padding: 7px;
    background: rgb(1, 77, 1);
    color: #fff;
    font-weight: 600;
}
.buttons{
    margin: 20px;
}
.block-score {
    display: flex;
    justify-content: center;
    align-items: center;
}
.score{
    margin-left: 72px;
    margin-top: 15px;
    font-size: 20px;
    color: #FF0000;
    text-shadow: 0 0 6px rgb(138, 241, 138);
}
.field{
    z-index: 30;            
    height: 23px;
    margin-left: 53px;
}
.cell{
    margin: 0;
    display: inline-block;
    background-color: #b3b3ec;
    width: 22px;
    height: 22px;
    border: 1px solid #010;
    border-radius: 4px;
    z-index: 30;
    transition: background-color 0.3s;
}
.snake{
    background: #065706;
    z-index: 30;
    transition: background 0.2s;
}
.food{
    background: url("./img/apple.png");
    background-size: cover;
    z-index: 30;
    transition: background-color 2s;
}